{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des articles du site</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date de mise en ligne</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th>{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    {# <td>{{ post.description [0:100] ~'...' }}</td> #}
                    <td>{{ post.subDescription ~ ' ...'}}</td>
                    <td>{{ post.createdAt|format_date('long', locale='fr') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Il n'y a pas d'articles pour le moment</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
