{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des articles du site</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date de mise en ligne</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th>{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    {# <td>{{ post.description [0:100] ~'...' }}</td> #}
                    <td>{{ post.subDescription ~ ' ...'}}</td>
                    <td>{{ post.createdAt|format_date('long', locale='fr') }}</td>
                    <td>
						<a href="{{ path('single_post', {id: post.id}) }}">
							<button class="btn btn-info">Voir plus</button>
						</a>
						<a href="{{ path('update_post', {id: post.id}) }}">
							<button class="btn btn-warning">Modifier</button>
						</a>
						<a href="{{ path('delete_post', {id: post.id}) }}">
							<button class="btn btn-danger" onclick="alert('Etes-vous sûr de vouloir supprimer?')">Supprimer</button>
						</a>
					</td>
                </tr>
            {% else %}
                <tr>
                    <td>Il n'y a pas d'articles pour le moment</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
			<tr>
				<td colspan="3" class="text-center">
					<a href="{{ path('add_post') }}">
						<button class="btn btn-info">Ajouter un article</button>
					</a>
				</td>
			</tr>
		</tfoot>
    </table>
{% endblock %}
